.card__title {
   display: flex;

   height: 15%;
   background-color: #37bc9d;
   color: white;
}

#card {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.card__container {
   max-width: 600px;
   min-height: 300px;
   border: 2px solid #{$secundary-color};
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
}

.card__title {
   padding: 10px;
   font-size: 20px;
   font-family: Ubuntu, "times new roman", times, roman, serif;
   font-size: 50px;
}

.card__content {
   padding: 20px;
}

.card__info {
   font-size: 18px;
   padding-bottom: 20px;
   display: grid;
   gap: 20px;
}

.card__info {
   line-height: 1.5;
   font-family: Ubuntu, "times new roman", times, roman, serif;
}

.card__emailContainer {
   display: grid;
   gap: 10px;
}

.card__emailContainer__h2 {
   font-size: 20px;
   color: #{$secundary-color};
   font-family: Ubuntu, "times new roman", times, roman, serif;
}

.card__emailContainer__button {
   cursor: pointer;
   border: 2px solid #37bc9d;
   padding: 10px 10px 10px 10px;
   background-color: #37bc9d;
   color: white;
   font-size: 16px;
   font-weight: bold;
   border-radius: 10px;
}

.card__emailContainer__button:hover {
   background-color: white;
   color: #37bc9d;
}

.card__emailContainer__input {
   padding: 10px 0px 10px 5px;
   font-size: 16px;
   border-radius: 10px;
   border: 2px solid #37bc9d;
}
.messageEmailError {
   background-color: rgb(229, 67, 67);
   color: white;
   text-align: center;
   padding: 5px 0px 5px 0px;
   width: 100%;
   margin: 5px 0px 5px 0px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 20px;
   border-radius: 10px;
}

.messageEmailVerify {
   background-color: #37bc9d;
   color: white;
   text-align: center;
   padding: 5px 0px 5px 0px;
   width: 100%;
   margin-top: 10px;
   margin-top: -5px;
   font-size: 20px;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   font-family: Ubuntu, "times new roman", times, roman, serif;
}
